*{
    margin: 0px;
    padding: 0px;
}
canvas{
    margin: 20px auto;
    display: block;
}
.Controller{
    overflow: hidden;
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 20px auto;
}
.Controller .clearBox{
    float: right;
}
.btn{
    line-height: 40px;
    font-size: 40px;
    padding: 5px 10px;
    border: 4px solid #000;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
}
.btn:hover{
    background-color: #eae2e2;
}
.controllBox{
    float: left;
}
.controll{
    width:40px;
    height: 40px;
    margin-right: 10px;
    border: 5px solid #fff;
    display: inline-block;
    cursor: pointer;
}
.controll.active{
    border-color: #c573c5;
}
.controll:hover{
    border-color: #c573c5;
}
.black_controll{
    background-color: black;
}
.blue_controll{
    background-color: blue;
}
.red_controll{
    background-color: red;
}
.orange_controll{
    background-color: orange;
}
.pink_controll{
    background-color: pink;
}
.purple_controll{
    background-color: purple;
}