*{
    margin: 0px;
    padding: 0px;
}
body{
    margin-top: 10px;
}
#allcanvas{
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}
canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
#canvasOne{
    z-index: 1;
}